.idea
SicTools.iml
out
/.project
tests/linker/factorial/factdemo.obj
tests/linker/factorial/linfac2_demo.obj
tests/linker/factorial/linfac_demo.obj
tests/linker/factorial/outfac.obj
tests/linker/multi/out.obj
tests/linker/nametest/extd.log
tests/linker/nametest/extd.lst
tests/linker/nametest/first.log
tests/linker/nametest/first.lst
tests/linker/nametest/nmtest.obj
tests/linker/nametest/test.log
tests/linker/nametest/test.lst
tests/linker/one/out.obj
tests/linker/partial/prtial.obj
tests/linker/stack/demostack.obj
tests/linker/factorial/ending.log
tests/linker/factorial/ending.lst
