.idea
SicTools.iml
out
/.project
*.class
tests/linker/factorial/factdemo.obj
tests/linker/factorial/linfac2_demo.obj
tests/linker/factorial/linfac_demo.obj
tests/linker/factorial/outfac.obj
tests/linker/multi/out.obj
tests/linker/nametest/extd.log
tests/linker/nametest/extd.lst
tests/linker/nametest/first.log
tests/linker/nametest/first.lst
tests/linker/nametest/nmtest.obj
tests/linker/nametest/test.log
tests/linker/nametest/test.lst
tests/linker/one/out.obj
tests/linker/partial/prtial.obj
tests/linker/stack/demostack.obj
tests/linker/factorial/ending.log
tests/linker/factorial/ending.lst
tests/linker/factorial/fact.log
tests/linker/factorial/fact.lst
tests/linker/factorial/linked.obj
tests/linker/factorial/main.log
tests/linker/factorial/main.lst
tests/linker/factorial/print.log
tests/linker/factorial/print.lst
tests/linker/factorial/print2.asm
tests/linker/factorial/print2.log
tests/linker/factorial/print2.lst
tests/linker/factorial/prt2fc.obj
tests/linker/factorial/stack.log
tests/linker/factorial/stack.lst
tests/linker/one2/linked.obj
tests/linker/one2/prog.log
tests/linker/one2/prog.lst